# Ignore configuration files (might contain passwords/local paths)
config.ini
snippets.ini

# Ignore source code (only push compiled exee)
*.ahk

# Ignore executables if compiled except the main distribution
*.exe
!PgPromptApp.exe

# Ignore temp files
*.tmp
*.bak
